* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: antiquewhite;
} 

:root {
    font-size: 62.5%;
}

body, button, textarea {
  
    font: 400 2.5rem/1 'Architects Daughter', cursive;
}

#page-landing{
    background: linear-gradient(100deg, #6980cc 0%, #394b85 100%);
    text-align: center;
    min-height: 100vh;
    
}