* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: antiquewhite;
} 

:root {
    font-size: 62.5%;
}

body, button, textarea {
  
    font: 400 2.5rem/1 'Architects Daughter', cursive;
}


